{{ form_start(form, { 'attr':{'id':'profile-password'}}) }}
    <label class="form-label required" for="actual_password"> Mot de passe actuel *</label>
    <input type="password" class="form-control mb-2" name="actual_password" required="required"></input>
{{ form_end(form) }}

    <div class="col-12 d-flex justify-content-start mt-4">
        <button form="profile-password" type="submit" class="btn btn-primary me-1 mb-1">Valider</button>
        <a href="{{ path('profile', {id: app.user.id}) }}"><button class="btn btn-secondary me-1 mb-1">Annuler</button></a>    
    </div>
