<!--Legal modal -->

        <div class="modal fade" id="legalModal" tabindex="-1" role="dialog"
            aria-labelledby="legalModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="legalModalTitle">Politque de confidentialité</h5>
                        <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><b>Politique de confidentialité d'Athelas</b><br><br>
                        Chez Athelas, nous prenons très au sérieux la confidentialité de vos données personnelles. Cette politique de confidentialité explique comment nous collectons, utilisons et partageons vos informations lorsque vous utilisez notre CRM professionnel. Cette politique s'applique à tous les clients et autres parties intéressées qui accèdent à notre CRM.<br><br>
                        <b>1. Informations personnelles que nous collectons</b><br>
                        Nous collectons des informations personnelles vous concernant lorsque vous utilisez notre CRM professionnel, y compris les informations que vous nous fournissez directement lorsque vous devenez client. Les informations que nous collectons peuvent inclure votre nom prénom, adresse e-mail, adresse postale, numéro de téléphone, et autres informations que vous choisissez de fournir.<br><br>
                        <b>2. Comment nous utilisons vos informations personnelles</b><br>
                        Nous utilisons vos informations personnelles pour fournir, maintenir et améliorer notre CRM professionnel, ainsi que pour vous fournir des informations sur nos produits et services. Nous pouvons également utiliser vos informations personnelles pour vous contacter à propos de votre compte ou pour vous informer des mises à jour de notre CRM.<br><br>
                        <b>3. Comment nous partageons vos informations personnelles</b><br>
                        Nous ne vendons pas vos informations personnelles à des tiers. Cependant, nous pouvons partager vos informations personnelles avec des partenaires commerciaux qui travaillent avec nous pour fournir notre service, ou pour répondre à une demande légale.<br><br>
                        <b>4. Sécurité de vos informations personnelles</b><br>
                        Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre la perte, le vol et l'utilisation abusive. Nous avons mis en place des procédures pour assurer la confidentialité, l'intégrité et la disponibilité des données que nous collectons et traitons. Cela inclut des mesures de sécurité physiques, techniques et organisationnelles.<br><br>
                        <b>5. Vos droits en matière de protection des données</b><br>
                        Vous avez le droit de demander l'accès à vos informations personnelles, de demander leur rectification ou leur suppression, de limiter leur traitement, de vous opposer à leur traitement ou de demander leur portabilité. Vous pouvez exercer ces droits en nous contactant à l'adresse électronique indiquée ci-dessous.<br><br>
                        <b>6. Modifications de cette politique de confidentialité</b><br>
                        Nous pouvons modifier cette politique de confidentialité de temps à autre. Si nous apportons des modifications importantes à cette politique, nous vous informerons par le biais de notre CRM ou par d'autres moyens.<br><br>
                        <b>7. Nous contacter</b><br>
                        Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, vous pouvez nous contacter à l'adresse électronique suivante <a href='mailto:legal@athelas.fr'>legal@athelas.fr</a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Accept</span>
                        </button>
                        <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>