{% extends 'base.html.twig' %}

{% block title %}Ajouter une entreprise | Athelas {% endblock %}

{% block body %}
    <div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Ajouter une entreprise</h3>
                <p class="text-subtitle text-muted">Remplissez les champs pour ajouter une enterprise au carnet d'entreprises.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('companies_index')}}">Entreprises</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Créer</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    {{ include('companies/_form.html.twig') }}
{% endblock %}