<form method="post" action="{{ path('contacts_delete', {'id': contact.id}) }}" onsubmit="return confirm(' Êtes vous sûr de vouloir supprimer ce contact ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
        <div class="col-12 d-flex justify-content-start">
        <button type="submit" class="btn btn-danger me-1 mb-1">Supprimer</button>
    </div>
</form>
